.bg-image {
    background-image: url("../img/banner-bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}

.bg-services {
    background-image: url("../img/services-bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn:hover {
    border: 2px solid white;
    color: white;
    background-color: #E56874;
}